
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="loginForm">
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input type="text" class="form-control w-50" formControlName="username" name="userName" id="userName" aria-describedby="userName">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control w-50" formControlName="password" name="password" id="password" aria-describedby="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary"  type="submit">
                        Login
                    </button>
                    <a routerLink="/register" class="btn btn-link">Register</a>
                </div>
            </fieldset>
        </form>
      </div>
  </div>
</div>
