  
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline  my-auto">
          <fieldset>
            <legend>Search to review our Movies</legend>
            <div class="input-group">
              <input class="form-control w-50" type="search" [(ngModel)]="searchMovie" name="searchMovie" placeholder="Enter Movie Name" aria-label="Enter Movie Name">
              <div class="input-group-append mb-2">
                <button class="btn btn-outline-primary" (click)="getMoviesBy(searchMovie)" type="submit">Search</button>
              </div>
            </div>
          </fieldset>
      </form>

      <hr>
      <!-- Movies Display -->
      <h2 class="mt-4">Top Rated Movies</h2>
      <p>Here are some top rated movies to help you get started:</p>
      <div class="row mt-2">
        <div class="col-md-12">
            <div class="card float-left" *ngFor="let movie of movies | filter: searchMovie" style="width: 250px; height: 525px;">
              <img class="card-img-top img-responsive img-thumbnail" style="max-width: 100%; height: 320px;" src="http://50.29.151.120:3000{{ movie.imageLink }}" alt="Movie poster of {{ movie.name }}">
              <div class="card-body">
                <h3 class="card-title mb-2">{{ movie.name }}</h3>
                <p class="card-subtitle mb-2">{{ movie.description }}</p>
                <!-- <p class="card-text mb-1">Feedback of movie1 goes here.</p>
                <a href="#" class="btn btn-primary text-white">Add feedback</a>-->
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>

 <!-- <app-edit-movies></app-edit-movies>-->

  

