<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-primary text-bold text-uppercase" href="#">
            <img class="d-inline-flex" width="50px" alt="Movie Frenzy Logo" src="assets/img/logo.png"/>
            {{ title }}
        </a>
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            &#9776;
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Movies</a>
                </li>
                <li class="nav-item float-right">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item float-right">
                    <a class="nav-link" routerLink="/register">Registration</a>
                </li>
            </ul>
            <!--<span class="text-danger my-2" *ngIf="successMessage.length > 0" [successMessage]="successMessage"></span>-->
        </div>         
    </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-2">
            Welcome to {{ title }}
            <img width="50px" alt="Movie Frenzy Logo" src="assets/img/logo.png"/>          
        </h1>
        <hr>
          
      </div>
    </div>
</div>
