<!-- Footer -->
<footer class="page-footer font-small pt-4 ml-2 my-2 bg-light">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <a class="navbar-brand text-bold text-uppercase" href="#">
            <img class="d-inline-flex" width="50px" alt="{{ title }} Logo" src="assets/img/logo.png"/>
            {{ title }}
        </a>
          <span class="footer-copyright text-center text-nowrap py-3 ml-1">
            © 2020 Copyright: Karen Marks
          </span>
        </div>
        <div class="col-md-3 mt-3">
          <ul class="list-unstyled list-inline d-inline-flex">
            <li class="list-inline-item mr-3">
              <a routerLink="/">Movies</a>
            </li>
            <li class="list-inline-item mr-3">
                <a routerLink="/login">Login</a>
            </li>
            <li class="list-inline-item mr-3">
              <a routerLink="/register">Registration</a>
            </li>
          </ul> 
        </div>
      </div>
    </div> 
  </footer>